h1 .top {
  font-weight: normal;
  font-size: 50px;
}
h2 {
  color: aquamarine;
  font-size: 16px;
}
body {
  background-color: black;
  font-family: Verdana;
  color: white;
  text-align: center;
}
.mid {
  font-weight: 300;
  font-size: 42px;
  color: white;
}
h3 {
  font-size: 21px;
  color: gray;
  font-weight: lighter;
}
